body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* login */
.login-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f0f0f0; 
}

.login-container form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.login-container form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    width: 100%; 
}

.login-container form input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container form button:hover {
    background-color: #575757;
}
/* Navigation Bar Part */


.navbar {
    background-color: #FFFFFF; /* Pure white background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add subtle shadow to distinguish the navbar */
}

.logo img {
    height: 40px; /* Adjust logo size */
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #000000; /* Black text */
    background-color: #FFFFFF; /* White background */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px; /* Increase padding to make buttons more prominent */
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition effect */
}

.nav-links a:hover {
    color: #FFFFFF; /* Text becomes white on hover */
    background-color: #000000; /* Background becomes black on hover */
}



/* STEM Info Part */

.title {
    display: flex;
    justify-content: flex-start; /* content start from section top*/
    padding-top: 100px; 
    flex-direction: column;
    align-items: center;
    height: 1000px; /* change the height if needed */
    background-color: rgb(82, 50, 82); 
    color: white;
    text-align: center;
    background-image: url('path/to/your/image.jpg'); /* replace this with your image path */
    background-size: cover;
    background-position: center;
    padding-left: 20px; /* Add padding to the left */
    padding-right: 20px; /* Add padding to the right */
}

.title h1 {
    font-size: 5rem; /* title size */
    margin-bottom: 10px; /* adjust this value to reduce the gap */
    -webkit-text-stroke: 5px black; /* 5-pixel black outline */
    color: white; /* text fill color */
}

.title h2 {
    font-size: 5rem; 
    margin-top: 0; /* remove any top margin */
    -webkit-text-stroke: 5px black; /* 5-pixel black outline */
    color: white; /* text fill color */
}


.stem-intro {
    margin-top: 1rem; /* adjust the spacing as needed */
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border-radius: 15px; /* Rounded corners */
    max-width: 1500px; /* Maximum width */
    color: black; /* Text color */
    font-size: 1.5rem;
    text-align: left;
}

.stem-intro p {
    margin: 0;
}



/* STEM News */

.news-section {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

.news-section h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.news-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.news-item {
    background-color: white;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.news-item h2 {
    font-size: 1.25rem;
    margin: 0; 
    background-color: #001F3F; 
    color: white; 
    padding: 1rem; 
    border-radius: 10px 10px 0 0; 
}

.news-item p {
    font-size: 1rem;
    color: #333;
    background-color: #ADD8E6; 
    margin: 0; 
    padding: 1rem; 
    border-radius: 0 0 10px 10px; 
    text-align: left;
}

.news-item a {
    color: #007BFF;
    text-decoration: none;
}

.news-item a:hover {
    text-decoration: underline;
}

/* Skill */
.skills-section {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
}

.skills-section h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem; /* Add padding to the container */
    max-width: 100%; /* Ensure the parent container is wide enough */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.skill-box {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 1rem;
    margin: 1.5rem; /* Add spacing between skill-boxes */
    width: calc(50% - 3rem); /* Each skill-box takes up 50% of the width, minus the margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.skill-box img {
    max-width: 100%;
    border-radius: 10px;
}

.skill-box h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.skill-box p {
    font-size: 1rem;
    color: #333;
    text-align: left;
}

/* benefits */

.stem-benefits {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.stem-benefits h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;

}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 0; /* Remove gap between items */
}

.benefit-item {
    background-color: #fff;
    border: 1px solid #ddd; /* Add border to make it rectangular */
    padding: 20px;
    width: 100%; /* Make each benefit item a full-width banner */
    text-align: left;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: none; /* Remove box shadow */
    border-radius: 0; /* Remove border radius */
}

/* Different background colors for each benefit item */
.benefit-item:nth-child(1) {
    background-color: #95e1d3; /* Dark red */
}

.benefit-item:nth-child(2) {
    background-color: #eaffd0; /* Dark green */
}

.benefit-item:nth-child(3) {
    background-color: #fce38a; /* Dark blue */
}

.benefit-item:nth-child(4) {
    background-color: #f38181; /* Dark yellow */
}



.benefit-item h3 {
    font-size: 2em; /* Increase font size */
    margin: 0;
    color: #fff; /* Change text color to white */
}

.benefit-item p {
    font-size: 1em;
    color: #666;
}



.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #717171;
}


/* bubble mind map */
.container-mindmap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #674188 0%, #6a5081 100%);
    flex-wrap: wrap; /* Ensure items wrap to the next line */
}

.container-mindmap h1 {
    width: 100%; /* Make the h1 take the full width */
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
    padding: 20px 0; /* Add some padding for spacing */
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a background color */
    color: white; /* Optional: Change text color */
    font-size: 50px;
}

.mind-map {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 60px; /* Add some margin between mind maps */
}

.bubble {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(145deg, #6a3d6a, #9b5e9b);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bubble:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.main-bubble {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #C8a1e0, #7b85be);
    width: 150px; 
    height: 150px; 
}

.sub-bubble {
    opacity: 0;
    pointer-events: none;
    background: #C8a1e0;
    transition: opacity 0.3s ease;
}

#subBubble1-1, #subBubble2-1, #subBubble3-1, #subBubble4-1 {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#subBubble1-2, #subBubble2-2, #subBubble3-2, #subBubble4-2 {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

#subBubble1-3, #subBubble2-3, #subBubble3-3, #subBubble4-3 {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#subBubble1-4, #subBubble2-4, #subBubble3-4, #subBubble4-4 {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}




/* popup windows */

.popup {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(135deg, #aa75b4 0%, #c7b3c3 100%);
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.popup .close-btn {
    align-self: flex-end;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #ff6b6b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.popup .close-btn:hover {
    background-color: #4f9965;
}


.popup-content {
    text-align: center;
    color: #fff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 18px;
}

/* Role model section styling */

.role-models-section {
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #8a478a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left-window {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.right-window {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #e0e0e0; /* Same background color as .role-model */
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s; /* Add transition effect */
    margin-top: 20px;    /* Top margin */
    margin-right: 15px;  /* Right margin */
    margin-bottom: 25px; /* Bottom margin */
    margin-left: 10px;   /* Left margin */
}


.role-model {
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.role-model:hover {
    background-color: #d0d0d0;
}

.role-model img {
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

.role-model h3 {
    margin: 10px 0 5px;
}

.role-model p {
    margin: 0;
}

.details {
    display: none;
}

.details img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.details.active {
    display: block;
}






