body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0px; 
    padding: 0;
    background-color: #f0f0f0; 
}


/* login */
.login-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f0f0f0; 
}

.login-container form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.login-container form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    width: 100%; 
}

.login-container form input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-container form button:hover {
    background-color: #575757;
}

/* Navigation Bar Part */



.navbar {
    position: fixed;
    top: 0;          /* 距离视口顶部 0 像素 */
    left: 0;         /* 距离视口左侧 0 像素 */
    width: 100%; 
    z-index: 1000;
    background-color: #FFFFFF; /* Pure white background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add subtle shadow to distinguish the navbar */
}

.logo img {
    height: 30px; /* Adjust logo size */
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    font-style: italic;
    font-weight: bold;
    margin-left: 0px;
}

.nav-links a {
    color: #000000; /* Black text */
    background-color: #FFFFFF; /* White background */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px; /* Increase padding to make buttons more prominent */
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition effect */
}

.nav-links a:hover {
    color: #FFFFFF; /* Text becomes white on hover */
    background-color: #000000; /* Background becomes black on hover */
}



/* landing page */

.full-width-div {
    height: 150px;
    width: 100%;
    background-color: #f0f0f0; /* 可选，设置背景颜色以便于查看 */
    position: relative; 
    top: 50px;
  }

.landing-page-contrainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 50px 20 px;
    background: linear-gradient(to bottom,rgba(166, 70, 245, 0.5), rgba(243, 45, 233, 0.5));
    /* background-color: #a372f1; */
    overflow: hidden; /* Ensures no scroll bars appear */
}

.landing-page
{
    text-align: center;
    height: 900px;
    font-family: "Lexend Deca", sans-serif;
}

.landing-page h1
{
    font-size: 5rem;
    margin-top: 0;
    font-weight: bold;
    color: #708c82;
    padding-top: 200px ;
    padding-bottom: 50px;
    font-family: "Lexend Deca", sans-serif;

}

.landing-page p{

    color: #2d2c38;
    font-size: 3.5rem;
    align-items: center;
    text-align: center;

}

.landing-page-contrainer p1{

    color: #2d2c38;
    font-size: 1.5rem;
}

.arrow{
    width: 5%;  /* 设置图片宽度为容器的 50% */
    height: auto; /* 自动调整高度以保持比例 */
    display: block;
    margin: 0 auto;
    top: 50px
}

.image-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom-left-image {
    position: absolute;
    bottom: 0px; /* Distance from the bottom of the screen */
    left: 20px; /* Distance from the left side of the screen */
    width: 300px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}

.top-right-image {
    position: absolute;
    top: 1px; /* Distance from the top of the screen */
    right: 20px; /* Distance from the right side of the screen */
    width: 250px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
}



.cta-button {
    text-align: center;
    align-items: center;
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    margin-left: 680px;
    background-color: #293a6d;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Lexend Deca", sans-serif;
    transform: translateY(-250px);

}

.cta-button:hover {
    background-color: #5eaaf6; /* Darker shade for hover effect */
}


/* Homepage Title and STEM Info Part */

.title {
    position: relative; /* Ensure the pseudo-element is positioned relative to .title */
    display: flex;
    justify-content: flex-start; /* content start from section top */
    padding-top: 100px; 
    flex-direction: column;
    align-items: center;
    height: 700px; /* change the height if needed */
    /* background-color: rgb(82, 50, 82); */
    color: white;
    text-align: center;
    padding-left: 50px; /* Add padding to the left */
    padding-right: 50px; /* Add padding to the right */
    overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}

.title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(3px); /* Adjust the blur level as needed */
    z-index: -1; /* Ensure the pseudo-element is behind the text */
}


.title h1 {
    font-size: 7rem; /* title size */
    margin-top: 0; /* remove any top margin */
    margin-bottom: 10px; /* adjust this value to reduce the gap */
    color: white; /* text color */
    font-weight: 900; /* make text bold */
    -webkit-text-stroke: 2px black; /* 1-pixel black outline */
}

.title h2 {
    font-size: 3rem; 
    margin-top: 0; /* remove any top margin */
    font-family: "Lexend Deca", sans-serif;
    padding-bottom: 50px;
    margin-bottom: 10px; /* adjust this value to reduce the gap */
    color: rgb(35, 2, 126);  /* text color */
    font-weight: bold; /* make text bold */

}

.stem-intro {
    margin-top: 0rem; /* adjust the spacing as needed */
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    border-radius: 15px; /* Rounded corners */
    max-width: 1400px; /* Maximum width */
    color: rgba(0, 0, 0, 0.918); /* Text color */
    font-size: 1.5rem;
    font-size: 30px;
    font-family: "Lexend Deca", sans-serif;
    /* font-weight: bold; */
    text-align: justify;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255);  */
    border: 2px solid black; 
}


.stem-intro p {
    margin: 50px;
}




/* STEM News */

.news-section {
    padding: 6rem;
    background-color: #f4f4f4;
    text-align: center;
}

.news-section h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

.news-container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.news-item {
    background-color: white;
    border-radius: 15px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.news-item h2 {
    font-size: 1.25rem;
    margin: 0; 
    background-color: #001F3F; 
    color: white; 
    padding: 1rem; 
    border-radius: 10px 10px 0 0; 
}

.news-item p {
    font-size: 1rem;
    color: #333;
    background-color: #ADD8E6; 
    margin: 0; 
    padding: 1rem; 
    border-radius: 0 0 10px 10px; 
    text-align: left;
}

.news-item a {
    color: #007BFF;
    text-decoration: none;
}

.news-item a:hover {
    text-decoration: underline;
}



/* benefits */
.carousel {
    position: relative;
    
    max-width: 1400px; 
    margin: auto;
    overflow: hidden;
}

.carousel h1 {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 20px; 
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 20px; /* Add spacing */
    padding: 0 10px; /* Ensure the first and last items are not clipped */
}

.carousel-item {
    min-width: calc(33.33% - 20px); /* Each block occupies one-third of the width, minus the spacing */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 400px; 
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
    border: 2px solid black;
}

.text-container h2 {
    margin: 0;
    margin-bottom: 10px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    width: 50px;
    height: 50px;
    left: 10px;
    transform: translateY(-5%);

}

.carousel-control.next {
    transform: translateY(-5%);
    right: 10px;
    width: 50px;
    height: 50px;
}

.carousel-indicators {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #717171;
}



/* bubble mind map */

.container-mindmap {
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: radial-gradient(circle, #f0f0f0 0%, #f0f0f0 100%);
    flex-wrap: wrap; /* Ensure items wrap to the next line */
    max-width: 80%; /* Adjust max-width to your desired width */
    margin: 0 auto; /* Center the container with auto margins */
}
/* .container-mindmap2 {
    display: flex;
    font-family: "Lexend Deca", sans-serif;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background: radial-gradient(circle, #e65ae6 0%, #7e4df0 100%);
    flex-wrap: wrap; /* Ensure items wrap to the next line */
/* } */ */

.container-mindmap h1 {
    width: 100%; /* Make the h1 take the full width */
    text-align: center; /* Center the text */
    margin: 0; /* Remove default margin */
    padding: 20px 0; /* Add some padding for spacing */
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a background color */
    color: rgb(35, 2, 126); /* Optional: Change text color */
    font-size: 50px;
}

.container-mindmap .description {
    width: 100%; /* Make the description take the full width */
    text-align: center; 
    margin: 0; 
    padding: 10px 0; 
    color: 2d2c38; 
    font-size: 20px; 
}

.mind-map {
    position: relative;
    width: 250px; /* Adjusted width */
    height: 250px; /* Adjusted height */
    margin: 40px; /* Reduced margin */
}

.bubble {
    position: absolute;
    width: 80px; /* Adjusted width */
    height: 80px; /* Adjusted height */
    background: linear-gradient(145deg, #708c82, #000000);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: 2d2c38;
    cursor: pointer;
    transition: transform 0.8s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bubble:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.main-bubble {
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(145deg, #708c82, #8b9693);
    width: 120px; /* Adjusted width */
    height: 120px; /* Adjusted height */
}

.main-bubble:hover {
    transform: translate(-50%, -50%) scale(1.3); /* Ensure it scales in place */
}

.sub-bubble {
    color: 2d2c38;
    opacity: 0;
    pointer-events: none;
    background: #d6f3ff;
    transition: opacity 0.3s ease;
}

#subBubble1-1, #subBubble2-1, #subBubble3-1, #subBubble4-1 {
    top: 12.5%; 
    left: 12.5%; 
    transform: translate(-50%, -50%);
}

#subBubble1-2, #subBubble2-2, #subBubble3-2, #subBubble4-2 {
    top: 12.5%; 
    left: 87.5%; 
    transform: translate(-50%, -50%);
}

#subBubble1-3, #subBubble2-3, #subBubble3-3, #subBubble4-3 {
    top: 87.5%; 
    left: 12.5%; 
    transform: translate(-50%, -50%);
}

#subBubble1-4, #subBubble2-4, #subBubble3-4, #subBubble4-4 {
    top: 87.5%; 
    left: 87.5%; 
    transform: translate(-50%, -50%);
}


/* popup windows of sub-bubbles*/

.popup {
    position: absolute;
    width: auto;
    height: auto;
    background: linear-gradient(135deg, #9faba3 0%, #c7b3c3 100%);
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.popup .close-btn {
    align-self: flex-end;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #ff6b6b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.popup .close-btn:hover {
    background-color: #4f9965;
}

.popup-content {
    text-align: center;
    color: #2d2c38;
    font-family: "Lexend Deca", sans-serif;
    font-size: 18px;
}





/* Role model section styles */
.role-models-section {
    background-color: #f8f3f8;
    padding: 140px;
    color: 2d2c38;
    font-family: "Lexend Deca", sans-serif;
}
.role-models-section h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}
.role-models-section p.description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.role-model {
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    color: black;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.role-model:hover {
    background-color: lightgray; 
}
.role-model img {
    width: 25%;
    height: 25%; 
    border-radius: 15px 0 0 15px; 
}

.role-model-content {
    width: 67%;
    padding-left: 20px;
}
.role-model-content h2 {
    margin: 0;
    font-size: 24px;
}
.role-model-content ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}
.role-model-content ul li {
    margin-bottom: 5px;
}

/* Role model popup styles */
.role-model-popup {
    text-align: justify;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 750px;
    background: linear-gradient(135deg, #8ab19c 0%, #c7b3c3 100%);
    border: 1px solid #ccc;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto; /* Add scroll if content overflows */
}

.role-model-popup img {
    border-radius: 20px;
    width: 200px; /* Increase the size of the image */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Increase margin for better spacing */
    margin: 0 auto; /* Center the image */
    max-width: 100%; /* Ensure the image does not overflow */
}

.role-model-popup h2 {
    font-size: 36px; /* Increase font size */
    margin-bottom: 20px; /* Increase margin for better spacing */
    color: #2d2c38; /* Change text color to white */
    font-family: "Lexend Deca", sans-serif;
}

.role-model-popup ul {
    text-align: justify;
    list-style: none;
    padding: 0;
    color: #2d2c38ff; /* Change text color to white */
    font-family: "Lexend Deca", sans-serif;
}

.role-model-popup ul li {
    margin-bottom: 10px; /* Increase margin for better spacing */
    font-size: 18px; /* Increase font size for better readability */
}

.role-model-popup .close-btn {
    align-self: flex-end;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #ff6b6b;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    position: absolute;
    top: 10px;
    right: 10px;
}

.role-model-popup .close-btn:hover {
    background-color: #4f9965;
}


/* for responsivness */
@media(max-width:600px)
{
    .popup{
        width: 90px;
        height: auto;
    }
}